@model App472.WebUI.Models.AdminOrdersIndexTableHeadCell
@{
    if (Model.UseCaret)
    {
        <th scope="col" class="@Model.ClassAlign">
            <a class="mg-th-link" href="@Url.Action("Index", "AdminOrders")" data-sortby="@Model.CellTitle" data-asc="@Model.AscendValue">
                @Model.CellTitle
                @if (Model.UseCaret)
                {
                    @:&nbsp;
                    <i class="bi bi-caret-@(Model.AscendValue ? "down" : "up")-fill"></i>
                }
            </a>
        </th>
    }
    else
    {
        <th scope="col" class="@Model.ClassAlign">@Model.CellTitle</th>
    }
}
