@model App472.WebUI.Models.AdminUserViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <br />
        Showing all Orders for all Users
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Orders</th>
                    <th scope="col">View Orders</th>
                </tr>
            </thead>
            <tbody>
                @foreach (App472.Domain.Entities.Guest guest in Model.Guests)
                {
                    <tr>
                        <td class="">@guest.Id</td>
                        <td scope="row" class="text-left">@guest.FirstName @guest.LastName</td>
                        <td scope="row" class="text-left">@guest.Email</td>
                        <td scope="row" class="text-center">@guest.Orders.Count</td>
                        <td><a href="@Url.Action("Index", "AdminUserOrder", new{guestId = guest.Id})">View Orders</a></td>
                    </tr>
                }
                @foreach (App472.WebUI.Models.FullUser user in Model.Users)
                {
                    <tr>
                        <td class="">@user.AppUser.Id</td>
                        <td scope="row" class="text-left">@user.AppUser.UserName</td>
                        <td scope="row" class="text-left">@user.AppUser.Email</td>
                        <td scope="row" class="text-center">@user.Orders.Count()</td>
                        <td><a href="@Url.Action("Index", "AdminUserOrder", new{UserId = user.AppUser.Id})">View Orders</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
