<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    @* Bootstrap Icons - https://icons.getbootstrap.com/#usage *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    @Html.Partial("~/Views/Nav/_NavBar.cshtml")
    <div class="container-fluid" style="margin-top: 15px; padding-left: 15px; padding-right: 15px;">

        <div class="row">
            @* Display flash message eg Your item has been added to Cart *@
            <div class="col-12">
                @if (TempData["message"] != null)
                {<div class="alert alert-success">@TempData["message"]</div>}
            </div>

            @* Hidden unless xs. Show the categories in a horizontal bar. *@
            <div class="col-12 d-block d-sm-none">
                <div class="mg-category-menu mg-category-menu-xs">
                    @Html.Action("CategoryMenu", "Nav")
                </div>
            </div>

            @* xs:Hidden.      sm:Take1/4 of screen.   lg:Take2/10 of screen. Show the categories in a vertical bar on RHS. *@
            <div class="d-none d-sm-block col-sm-3     col-lg-2" style="padding-top:0px;">
                <div class="mg-category-menu">
                    @Html.Action("CategoryMenu", "Nav")
                </div>
            </div>

            @* xs: Take the whole width. sm: Take3/4 of screen. lg: Take10/12 of screen. *@
            <div class="col-12           col-sm-9               col-lg-10 mg-renderbody">@RenderBody()</div>
        </div>

        <hr style="margin-top:0px;" />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    </div>
    @* Dont put the script tag inside the page fragment or it will get initialised multiple times *@
    <script type="text/javascript" src="~/Scripts/ProductList.js"></script>
</body>
</html>
