@using App472.WebUI.Infrastructure;
@model App472.WebUI.Domain.Entities.Guest

<tr class="mgAccTable" data-uid="@Model.Id" data-isguest="true">
    <td class="">
        <span data-toggle="tooltip" data-placement="bottom" title="@Model.Id">
            @MyExtensions.Truncate(Model.Id.ToString(), MyExtensions.GuidTruncLenth)
        </span>
    </td>
    <td class="">@Model.FirstName @Model.LastName</td>
    <td class="">Guest</td>

    <td class="mgAccEmailCell">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete="off", @id="Email_"+Model.Id })
    </td>
    <td class=""></td>

    <td class=""></td>
    <td class=""></td>

    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>

    <td class="">@Model.Orders.Count</td>
    <td class="">
        <a href="@Url.Action("Index", "AdminUserOrder", new{guestId = Model.Id})">View Orders</a>
    </td>
</tr>