@using App472.WebUI.Infrastructure;
@model App472.WebUI.Domain.Entities.Guest

<tr class="mgAccTable" data-uid="@Model.Id" data-isguest="true">
    <td class="">
        <span data-toggle="tooltip" data-placement="bottom" title="@Model.Id">
            @MyExtensions.Truncate(Model.Id.ToString(), MyExtensions.GuidTruncLenth)
        </span>
    </td>

    <td class="">
        <input disabled='disabled' value="@Model.FirstName @Model.LastName" autocomplete="off" class="form-control" id="" name="" style="max-width: 140px; background-color: unset;" type="text">
    </td>

    <td class="">
        <input disabled='disabled' value="Guest" autocomplete="off" class="form-control" id="" name="" style="max-width: 140px; background-color: unset;" type="text">
    </td>

    <td class="mgAccEmailCell">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete="off", @id="Email_"+Model.Id })
    </td>
    <td class=""></td>

    <td class=""></td>
    <td class=""></td>

    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>

    <td class="text-center">@Model.Orders.Count</td>
    <td class="text-center">
        <a class="btn btn-success adminGreenViewBtn" href="@Url.Action("Index", "AdminUserOrder", new{guestId = Model.Id})">View Orders</a>
    </td>
</tr>