@using App472.Domain.Entities;

@model App472.WebUI.Models.AdminUserOrderDetailViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin: Viewing User Order ###";
}
<div class="card">
    <div class="card-body adminUserOrderDetail">
        <br />
        <div>
            @{ string username = "User" + Model.UserId; }
            @{ string ordername = "Order" + Model.OrderID; }
            <a class="" href="@Url.Action("Index", "AdminUser")">All Orders for all Users</a> >
            <a class="" href="@Url.Action("Index", "AdminUserOrder", new{Model.UserId})">@username</a> > @ordername
        </div>
        @*Showing Details of Order #@Model.OrderID, for User @Model.UserId*@

        <table class="table table-striped table-sm">
            <tbody>
                <tr>
                    <td></td>
                    <td><i class="bi bi-flag"></i></td>
                    <th>Order Status:</th>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                @Model.OrderStatus
                            </button>
                            <div class="dropdown-menu">
                                @foreach (ShippingState shipState in Enum.GetValues(typeof(ShippingState)))
                                {
                                    var active = (Model.OrderStatus == shipState) ? "active" : "";
                                    <a class="dropdown-item @active" href="#">@shipState</a>
                                }
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><i class="bi bi-calendar3-event"></i></td>
                    <th>Date Created:</th>
                    <td>@Model.OrderPlacedDate</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><i class="bi bi-credit-card"></i></td>
                    <th>Billing Address:</th>
                    <td>@Model.BillingAddress</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><i class="bi bi-truck"></i></td>
                    <th>Shipping Address:</th>
                    <td>@Model.ShippingAddress</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <table class="table table-striped adminUserOrderDetail" data-OrderID="@Model.OrderID">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ProductID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit Price</th>

                    <th scope="col" class="text-right">Quantity</th>

                    <th scope="col" class="text-right">Cost</th>
                    <th scope="col">Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int sumQuantity = 0; }
                @foreach (App472.Domain.Entities.OrderedProduct prod in Model.OrderedProducts)
                {
                    int quantity = prod.Quantity;
                    sumQuantity += quantity;
                    decimal cost = prod.Product.Price * quantity;
                    <tr data-ProductID="@prod.Product.ProductID">

                        <td scope="row" class="text-left isProductID">@prod.Product.ProductID</td>

                        <td scope="row" class="text-left isProductName">
                            <a href="@Url.Action("Edit", "Admin", new{ProductID = @prod.Product.ProductID})">@prod.Product.Name</a>
                        </td>

                        <td scope="row" class="text-left isUnitPrice">
                            <a href="@Url.Action("Edit", "Admin", new{ProductID = @prod.Product.ProductID})">@prod.Product.Price</a>
                        </td>

                        <td scope="row" class="text-right isQuantity"><input class="mgAjaxText" type="text" value="@quantity" /></td>

                        <td scope="row" class="text-right isCost">@cost</td>

                        <td scope="row" class="text-left isCategory">@prod.Product.Category</td>

                        <td><button type="button" class="btn btn-sm btn-light mgDeleteX"><i class="bi bi-x-lg"></i></button></td>
                    </tr>
                }
                <tr style="margin-top:20px;">
                    <td scope="row" class="text-left"><strong>Total:</strong></td>
                    <td scope="row" class="text-left"></td>
                    <td scope="row" class="text-left"></td>

                    <td scope="row" class="text-right" id="detailTotalQuantity">@sumQuantity</td>

                    <td scope="row" class="text-right" id="detailTotalCost">$@Model.TotalCost</td>
                    <td scope="row" class="text-left"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/AdminUserOrder.js"></script>